@model Intergado.Models.Fazenda

@{
    ViewData["Title"] = "Create";
}


<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
	<link rel="stylesheet" href="/css/StyleCreatedFazenda.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
		  integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />
	<title>Criar Fazenda</title>
</head>

<body>
	<div class="container d-flex justify-content-center">
		<div id="logreg-forms" class="col-sm-12 col-md-8 col-lg-6">
			<form asp-action="Create">
				<h1 class="text-center mb-3">Criar Fazenda</h1>
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="Nome" class="control-label">Nome da Fazenda:</label>
					<input asp-for="Nome" class="form-control" placeholder="Digite o nome da fazenda" />
					<span asp-validation-for="Nome" class="text-danger"></span>
				</div>
				<div class="d-flex justify-content-center mt-4">
					<button type="submit" value="Create" class="btn btn-primary mr-3 py-2 px-4">Criar</button>
					<a asp-action="Index" class="btn btn-danger py-2 px-4">Voltar</a>
				</div>
			</form>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"></script>
</body>

</html>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
