@model Intergado.Models.Fazenda

@{
    ViewData["Title"] = "Delete";
}


<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
		  integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/StyleCreatedFazenda.css">
	<title>Delete Fazenda</title>
</head>

<body>
	<div id="logreg-forms">
		<h1>Delete Fazenda</h1>
		<h3>Deseja Deletar?</h3>
		<div class="mt-5 ">
			<h4>Fazenda: @Model.Nome</h4>
			<hr />
			<form asp-action="Delete">
				<input type="hidden" asp-for="Id" />
				<input type="submit" value="Delete" class="btn btn-danger" />
				<a href="javascript:history.back()" class="btn btn-primary">Voltar</a>
			</form>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"></script>
</body>

</html>